

body{
    font-family: sans-serif;
    font-size: 110%;
    background-color: #FCF7F8;
    background: #212121;
}

#profilePhoto{
    width: 20%;  
    height: 30%; 
    border-radius: 400%;
    border: 2px solid #55ff33 ;
}

header{
    text-align: center;
}
#heading{
    color: #55ff33;
    background-color: #36454f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

footer{
    background-color: #0b1111;
    text-align: center;
    color: #55ff33;

}

#sidebar{
    width: 30%;
    background-color: black;
    color: #55ff33;
    padding: 1rem;

}

.navlist{
    list-style-type: none;
    padding: 0%;
}

#contents{
    color: #55ff33;
}

.icons{
 width: 3rem;
 margin: 0.5rem;   
}

